.image-alignment{
	padding:20px;
}
.login-modal{
	width:40%;
	padding-top: 8%;
}
/*.login-content{
	background-color:antiquewhite;
	opacity:0.8;
}*/
/*.login-container{
	background-image: url("s.png");
	background-repeat: no-repeat;
	width:1400px;
	min-height: 600px
}*/
.navbar-padding{
	padding-top: 16px;
	padding-left: 40px;
}
@import '../base';
.vendor-service-tile{
    height:280px;
	background:#FFF;
    width:200px;
    padding: 15px;
    text-align: center;
}
.vendor-service-tile img,
.vendor-service-tile a,
.vendor-service-tile label{
    display: block;
    padding: 5px 0;
}
.vendor-service-tile-img{
    width: 150px;
    margin: 10px auto 15px auto;
    height: 70px;
}

a.vendor-service-tile-ico{
    color:  @jpurple;
    text-decoration: none;
}
a.vendor-service-tile-ico:hover {
    opacity: 0.9
}
.vendor-service-tile-ico i{
    width: 60px;
    height: 60px;
    line-height: 58px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    background:  @jpurple;
}

.vendor-service-tile-effect
{
  	position:relative;

}
.vendor-service-tile-effect:before, .vendor-service-tile-effect:after
{
	content:"";
    position:absolute;
    z-index:-1;
    top:0;
    bottom:0;
}
.vendor-service-tile-effect:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.search-plan-tile {
    max-height: 130px;
    background: #00ABA9 ;
    color:#FFF;
    background-size: cover;
    padding: 30px;
    padding-top: 25px;
    text-align: center;
    cursor: pointer;
		margin-right:-15px;
}
.cag-tile {
    max-height: 130px;
    background: #F09609;
    color:#FFF;
    background-size: cover;
    padding: 30px;
    padding-top: 25px;
    text-align: center;
    cursor: pointer;
		margin-right:-15px;
}
.create-plan-tile {
    max-height: 130px;
    background: #339933;
    color:#FFF;
    background-size: cover;
    padding: 30px;
    padding-top: 25px;
    text-align: center;
    cursor: pointer;
		margin-right:-15px;
}
.tile-alignment{
	padding-top:5px;
}
.search-box{
	background-color: #CCCCCA;
	margin-top:10px;
	padding-left: 50px;
	padding-top:20px;
}
.search-button{

	padding-right: 1px;
}
.plansearch-dropdown{
	width:60px;
}
.table-align{
	margin-top:20px;
}
